<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="path" value= "C:\Users\kagarwal\Desktop\codes\Assignments\ExcelReader\Main\FilterExcelData\Data\"/>
		<add key="singleFileSingleSheet" value= "SalesRecords.xlsx"/>
		<add key="singleFileMultipleSheets" value= "SalesRecordsSheets.xlsx"/>
		<add key="MultipleFiles" value= "SalesRecord0.xlsx,SalesRecord1.xlsx,SalesRecord2.xlsx,SalesRecord3.xlsx,SalesRecord4.xlsx,SalesRecord5.xlsx,SalesRecord6.xlsx,SalesRecord7.xlsx,SalesRecord8.xlsx,SalesRecord9.xlsx"/>
		<add key="columns" value= "ItemType,SalesChannel,UnitsSold,TotalProfit,ShipDate"/>
		<add key="multipleSheets" value= "Sheet0,Sheet1,Sheet2,Sheet3,Sheet4,Sheet5,Sheet6,Sheet7,Sheet8,Sheet9"/>
		<add key="constraints" value= "ItemType = 'Snacks', UnitsSold > 9000"/>
		<add key="sheetName" value= "Records"/>
	</appSettings>
</configuration>